:root{
    --vermelho:#E50914;
    --preta:#141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
}

a{
    color: #AAA;
    text-decoration: none;
    margin: 10px;
}

a:hover{
    color:#fff;
}

nav{
    margin: 10px;
}


@font-face{
    font-family: BebasNeue;
    src: url(../fonts/BebasNeue-Regular.ttf);
}

.title{
    color: var(--vermelho);
    font-family: BebasNeue;
    font-size: 60px;
    

}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left{
    display: flex;
    align-items: center;
}

.right{
    display: flex;
    align-items: center;
}

.icons{
    height: 35px;
    margin-right: 10px;
}

